# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv
env/
venv/

# Poetry specific
poetry.lock

# VSCode specific
.vscode/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# MkDocs
site/
